<%= form_for(@clubsession) do |f| %>
  <% if @clubsession.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clubsession.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
      <% @clubsession.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
  <div id="f-session-info" class="field">
    <%= f.label "Session Information:" %><br />
    <%= f.text_area :sessioninfo %>
  </div>
  <div class="field">
    <%= f.label :audience %><br />
    <%= f.text_field :audience %>
  </div>
  <div class="field">
    <%= f.label "Start Time:" %><br />
    <%= f.text_field :starttime %>
  </div>
  <div class="field">
    <%= f.label "End Time:" %><br />
    <%= f.text_field :endtime %>
  </div>
  <div class="actions">
    <%= f.submit(:class => "blue-pill", :id  => "session-btn", :value => "Add Club Session") %>
  </div>
<% end %>
