<%= Navigation("home") %>
<% if notice!=nil %>
<div id="success" class="alert alert-success">
	<%= notice %>
</div>
<% end %>
<div id="new-articles" class="carousel slide">
	<!-- Carousel items -->
	<div class="carousel-inner">
		<div class="active item">
			<img src="../../assets/ski-sport.jpg" />
			<div class="carousel-caption">
				<h3>Welcome to Oval Ski Club</h3>
				<p>
				The skiing club is based at the dry ski slope, located towards the rear of the Oval Sports Centre, Bebington, Wirral. For more information on locality of the skiing club please visit the Contact Us page. We offer skiing tuition for all ages, an active social club promoting various events through out the year, and also a Ski Racing Team which all members are welcome to join. We are ideally located for the Wirral, Cheshire, Liverpool and Merseyside areas.
				</p>
			</div>
		</div>
		<div class="item">
			<img src="../../assets/summer-cocktail.jpg" />
			<div class="carousel-caption">
				<h3>Club Closed for the Summer</h3>
				<p>
					The 2011/2012 season has now finished. We will be busy over the summer months maintaining the slope so we are ready to open in September for next season. Check the diary for when we will be open and when we start new beginner lessons. See you then! 
				</p>
			</div>
		</div>
		<div class="item">
			<img src="../../assets/ski-resort.jpg" />
			<div class="carousel-caption">
				<h3>Oval Ski Club Holiday</h3>
				<p>
					We organise a Skiing holiday each year over the Easter break. See Club Holiday for more details Any questions, or further details, please speak to Andy Kearney (PD) at the club sessions, or by phone on 0785 566 2891. 
				</p>
			</div>
		</div>
	</div>
	<!-- Carousel nav -->
	<a class="carousel-control left" href="#new-articles" data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#new-articles" data-slide="next">&rsaquo;</a>
</div>

<div class="content">
	<div class="row-fluid">
		<div class="span8">
			<% @doc %>
			<hr/>
			<center>
				<img src="../../assets/yahoo.png" alt="yahoo icon" />
				<strong>Weather Update: </strong>
				<%= @doc.elements['/rss/channel/yweather:location/@city'] %>
				&nbsp;,&nbsp;&nbsp;Temperature:
				<%= @doc.elements['/rss/channel/item/yweather:condition/@temp'] %>
				&deg;C&nbsp;,&nbsp;&nbsp;Wind Speed:
				<%= @doc.elements['/rss/channel/yweather:wind/@speed'] %>
				km/h
			</center>
			<hr/>
			<% @news.each do |news| %>
			    <h4><%= news.title %></h4>
			    <p><%= news.body.html_safe %></p>
			    <hr/>
			<% end %>
			<br/>
			<%= link_to 'Manage Announcements',{:controller => :news, :action => :index},:class => "blue-pill" %>
		</div>
		<div class="span4">
			<table class="table table-condensed">
			  <tr>
			  	<script type="text/javascript"> moWWidgetParams="moAllowUserLocation:false~moBackgroundColour:white~moColourScheme:black~moDays:3~moDomain:www.metoffice.gov.uk~moFSSI:350283~moListStyle:vertical~moMapDisplay:none~moShowFeelsLike:true~moShowUV:true~moShowWind:true~moSpecificHeight:250~moSpecificWidth:300~moSpeedUnits:M~moStartupLanguage:en~moTemperatureUnits:C~moTextColour:black~moGridParams:weather,temperature,wind,feelslike,uv~"; </script><script type="text/javascript" src="http://www.metoffice.gov.uk/public/pws/components/yoursite/loader.js"> </script>
			  </tr>
			  <tr>
			    <th>Session</th>
			    <th>Start Time</th>
			    <th>End Time</th>
			  </tr>
			
			<% @clubsessions.each do |clubsession| %>
			  <tr>
			    <td><%= clubsession.sessioninfo %></td>
			    <td><%= clubsession.starttime %></td>
			    <td><%= clubsession.endtime %></td>
			  </tr>
			<% end %>
			</table>
		</div>
	</div>
</div>

<script>
$(document).ready(function(){
	$('.carousel').carousel('cycle',{interval:3000}); //Load Welcome Carousel
});
</script>
